.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
 

}

button.edit{
  background-color:dodgerblue
}

button.warning{
  background-color: crimson;
}


