.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
 
}

p{
  
}

h1{
  font-family:fantasy;
  font-weight: bolder;
}

h3{
  font-family:serif
}

button.edit{
  background-color:dodgerblue
}
